//background for whole page

body {
  background-color: hsl(180, 14%, 95%)
}

//main container that hold header, cards, etc

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//header/title of page

.title {
  background-color: hsl(180, 43%, 52%);
  border-radius: .3rem;
  box-shadow: .4rem .4rem .4rem hsl(0, 0%, 8%);
  font-family: $title-font;
  font-size: 5rem;
  margin-top: 2.5rem;
  padding: 2rem;
  width: 40rem;
  text-align: center;
}

//subtitle text underneath header/title

.subtitle {
  font-size: 2rem;
  font-family: $subtitle-font;
  margin-top: .8rem;
}