//container that holds cards

.card-container {
  display: flex;
  flex-direction: row;
  border-radius: .2rem;
  border: .1rem solid $card-border;
  background: $card-bkrd;
  margin: .8rem;
  min-width: 25rem;
  padding: 1.7rem;
  position: relative;
  color: $card-color;
  width: 5rem;
  margin: 1rem;
}

//subject text on each card

.subject {
  font-family: $subject-font;
  font-size: 1.7rem;
  margin-top: 0;
}

//question text on each card

.question {
  font-family: $question-font;
  font-size: 1.1rem;
  margin-top: -.1rem;
  margin-bottom: 1rem;
  font-weight: lighter;
  overflow-wrap: break-word;
}

//user answer input

.user-answer {
  border-radius: .1rem;
  border: none;
  font-size: .9rem;
  height: 2rem;
  width: 18rem;
  padding-left: .5rem;
}

//message that displays to user if they get answer correct/incorrect

.message {
  font-family: $message-font;
  color: $message-color;
  font-size: 1.3rem;
}

@media screen and (max-width: 583px) {
  .card-container {
    min-width: 20rem;
  }
}

@media screen and (max-width: 435px) {
  .card-container {
    min-width: 14rem;
  }
  .question {
    font-family: $question-font;
    font-size: .9rem;
    overflow-wrap: break-word;
  }
  .subject {
    font-size: 1.3rem;
  }
  .user-answer {
    font-size: .8rem;
    height: 2rem;
    width: 13.6rem;
    padding-left: .5rem;
  }
}

