.card-container {
  display: flex;
  flex-direction: column;
  transition:all 0.3s ease;
  border-radius: .2rem;
  border: 1px solid hsl(196, 46%, 19%);
  background: hsl(186, 74%, 93%);
  min-width: 25rem;
  padding: 1.7rem;
  position: relative;
  color: hsl(0, 4%, 18%);
}

.subject {
  font-family: $subject-font;
  font-size: 1.7rem;
  margin-top: 0;
}

.question {
  font-family: $question-font;
  font-size: 1.1rem;
  margin-top: -.1rem;
  margin-bottom: 1rem;
}

.user-answer {
  border-radius: .1rem;
  border: none;
  font-size: .9rem;
  height: 2rem;
  width: 18rem;
  padding-left: .5rem;
}

