.card-container {
  display: flex;
  flex-direction: row;
  transition:all 0.3s ease;
  border-radius: .2rem;
  border: .1rem solid $card-border;
  background: $card-bkrd;
  margin: .8rem;
  min-width: 25rem;
  padding: 1.7rem;
  position: relative;
  color: $card-color;
  width: 5rem;
  margin: 1rem;
}

.subject {
  font-family: $subject-font;
  font-size: 1.7rem;
  margin-top: 0;
}

.question {
  font-family: $question-font;
  font-size: 1.1rem;
  margin-top: -.1rem;
  margin-bottom: 1rem;
  font-weight: lighter;
  overflow-wrap: break-word;
}

.user-answer {
  border-radius: .1rem;
  border: none;
  font-size: .9rem;
  height: 2rem;
  width: 18rem;
  padding-left: .5rem;
}

.message {
  font-family: $message-font;
  color: $message-color;
  font-size: 1.3rem;
}

