//container for button used for positioning

.button-container {
  display: flex;
}

//study list button located at top right of page

.study-button {
  @include button-rules;
  margin-left: 60rem;
  background-color: $study-btn-bkrd;
}

//show all button located at top right of page

.show-all-button {
  @include button-rules;
  margin-left: 1rem;
  background-color: $show-btn-bkrd;
}

//media queries
@media screen and (max-width: 1036px) {
  .study-button {
    margin-left: 0rem;
  }
}

