//container for button used for positioning

.button-container {
  display: flex;
  justify-content: flex-end;
}

//study list button located at top right of page

.study-button {
  cursor: pointer;
  margin-left: 60rem;
  border-radius: .2rem;
  background-color: hsl(158, 27%, 83%);
  border: .1rem solid $button-border;
  font-size: 1.1rem;
  font-family: $study-list-font;
  font-weight: 800;
  margin-top: .8rem;
  padding: .5rem;
  width: 7rem;
  height: 3rem;
}