@import url('https://fonts.googleapis.com/css?family=Padauk');
@import url('https://fonts.googleapis.com/css?family=Kalam|Special+Elite');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=Raleway');

//Fonts
$subtitle-font: 'Padauk', cursive;
$title-font: 'Special Elite', cursive;
$subject-font: 'IM Fell English SC', serif;
$question-font: 'Raleway', sans-serif;

//Colors
$card-border: hsl(196, 46%, 19%);
$card-bkrd: hsl(186, 74%, 93%);
$card-color: hsl(0, 4%, 18%);